{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% let chara = chara | ref %}
{% call base::draw_embed(format!("{} Costume Spreadsheet", chara.to_string()), "") %}
{% endblock head %}

{% block content %}
<div class="row m-2">
	<div class="col-md-6 offset-md-3">
		<a class="btn btn-primary" style="width: 100%" href="/modules">Search</a>
	</div>
	<!--
	<div class="col-md-3">
		<a class="btn btn-danger" style="width: 100%" href="/reserve">Reserve IDs</a>
	</div>
	-->
</div>
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name (EN)</th>
			<th>Name (JP)</th>
			<th>Source / Reservation Date</th>
		</tr>
	</thead>
	<tbody>

	{% if let Some((i, modules)) = costumes.first_key_value() %}
		{% for i in 0..(**i) %}
		{% if let Some(reservation) = reservations.get(i) %}
		<tr>
			<td>{{ i }}</td>
			{% if let Some(user) = users.get(reservation.user) %}
			<td class="red-background">Reserved by <a href="/user/{{ user.id }}">{{ user.display_name }}</a></td>
			{% else %}
			<td class="red-background">Reserved</td>
			{% endif %}
			{% if let Some(label) = reservation.label %}
			<td class="red-background">{{ label | autolink }}</td>
			{% else %}
			<td class="red-background"/>
			{% endif %}
			<td class="red-background">{{ reservation.time.date() }}</td>
		</tr>
		{% else if i <= 10000 %}
		<tr>
			<td>{{ i }}</td>
			<td />
			<td />
			<td>Unused</td>
		</tr>
		{% endif %}
		{% endfor %}

		<tr>
			<td>{{ i }}</td>
		{% for module in modules %}
				{% if !loop.first %}
		</tr>
		<tr>
			<td>{{ i }}</td>
			{% endif %}
			<td>{{ module.module.name_en.as_ref().unwrap_or(String::new() | ref) }}</td>
			<td>{{ module.module.name_jp.as_ref().unwrap_or(String::new() | ref) }}</td>
			<td>{% if let Some(post) = module.post %}<a href="/post/{{ post }}">{{ posts[post].name }}</a>{% else %}MM+{% endif %}</td>
			{% endfor %}
		</tr>
	{% endif %}

	{% for ((last, _), (next, modules)) in costumes.iter().zip(costumes.iter().skip(1)) %}
		{% for i in (*last + 1)..(*next) %}
		{% if let Some(reservation) = reservations.get(i) %}
		<tr>
			<td>{{ i }}</td>
			{% if let Some(user) = users.get(reservation.user) %}
			<td class="red-background">Reserved by <a href="/user/{{ user.id }}">{{ user.display_name }}</a></td>
			{% else %}
			<td class="red-background">Reserved</td>
			{% endif %}
			{% if let Some(label) = reservation.label %}
			<td class="red-background">{{ label | autolink }}</td>
			{% else %}
			<td class="red-background"/>
			{% endif %}
			<td class="red-background">{{ reservation.time.date() }}</td>
		</tr>
		{% else if i <= 10000 %}
		<tr>
			<td>{{ i }}</td>
			<td />
			<td />
			<td>Unused</td>
		</tr>
		{% endif %}
		{% endfor %}

		<tr>
			<td>{{ next }}</td>
			{% if let Some(reservation) = reservations.get(next) %}
				{% if let Some(user) = users.get(reservation.user) %}
				<td class="red-background">Reserved by <a href="/user/{{ user.id }}">{{ user.display_name }}</a></td>
				{% else %}
				<td class="red-background">Reserved</td>
				{% endif %}
				{% if let Some(label) = reservation.label %}
				<td class="red-background">{{ label | autolink }}</td>
				{% else %}
				<td class="red-background"/>
				{% endif %}
				<td class="red-background">{{ reservation.time.date() }}</td>
		</tr>
		<tr>
				<td>{{ next }}</td>
			{% endif %}

			{% for module in modules %}
				{% if !loop.first %}
		</tr>
		<tr>
				<td>{{ next }}</td>
				{% endif %}
				<td>{{ module.module.name_en.as_ref().unwrap_or(module.module.name.as_ref().unwrap_or(String::new() | ref)) }}</td>
				<td>{{ module.module.name_jp.as_ref().unwrap_or(String::new() | ref) }}</td>
				<td>{% if let Some(post) = module.post %}<a href="/post/{{ post }}">{{ posts[post].name }}</a>{% else %}MM+{% endif %}</td>
			{% endfor %}
		</tr>
	{% endfor %}

	{% if let Some(next) = reservations_after.last() %}
	{% if let Some((last, _)) = costumes.last_key_value() %}
		{% for i in (*last + 1)..(**next) %}
		{% if i <= 10000 %}
		<tr>
			<td>{{ i }}</td>
			<td />
			<td />
			<td>Unused</td>
		</tr>
		{% endif %}
		{% endfor %}

		{% if let Some(reservation) = reservations.get(next) %}
		<tr>
			<td>{{ next }}</td>
			{% if let Some(user) = users.get(reservation.user) %}
			<td class="red-background">Reserved by <a href="/user/{{ user.id }}">{{ user.display_name }}</a></td>
			{% else %}
			<td class="red-background">Reserved</td>
			{% endif %}
			{% if let Some(label) = reservation.label %}
			<td class="red-background">{{ label | autolink }}</td>
			{% else %}
			<td class="red-background"/>
			{% endif %}
			<td class="red-background">{{ reservation.time.date() }}</td>
		</tr>
		{% endif %}
	{% endif %}
	{% endif %}

	{% for (last, next) in reservations_after.iter().zip(reservations_after.iter().skip(1)) %}
		{% for i in (*last + 1)..(*next) %}
		{% if i <= 10000 %}
		<tr>
			<td>{{ i }}</td>
			<td />
			<td />
			<td>Unused</td>
		</tr>
		{% endif %}
		{% endfor %}

		{% if let Some(reservation) = reservations.get(next) %}
		<tr>
			<td>{{ next }}</td>
			{% if let Some(user) = users.get(reservation.user) %}
			<td class="red-background">Reserved by <a href="/user/{{ user.id }}">{{ user.display_name }}</a></td>
			{% else %}
			<td class="red-background">Reserved</td>
			{% endif %}
			{% if let Some(label) = reservation.label %}
			<td class="red-background">{{ label | autolink }}</td>
			{% else %}
			<td class="red-background"/>
			{% endif %}
			<td class="red-background">{{ reservation.time.date() }}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
{% endblock content %}
