{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% let human_name = human_name | ref %}
{% call base::draw_embed(format!("{human_name} Spreadsheet"), "") %}
{% endblock head %}

{% block content %}
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th style="width: 15%">ID</th>
			<th>Name</th>
			<th style="width: 20%">Source</th>
		</tr>
	</thead>
	<tbody>

	{% if let Some(entry) = entries.first() %}
		{% for i in 0..entry.id %}
		{% if i <= 10000 %}
		<tr>
			<td>{{ i }}</td>
			<td />
			<td>Unused</td>
		</tr>
		{% endif %}
		{% endfor %}

		<tr>
			<td>{{ entry.id }}</td>
			<td>{{ entry.name }}</td>
			<td>{% if entry.post_id != -1 && posts.contains_key(entry.post_id) %}<a href="/post/{{ entry.post_id }}">{{ posts[entry.post_id | ref].name }}</a>{% else %}MM+{% endif %}</td>
		</tr>
	{% endif %}

	{% for (last, entry) in entries.iter().zip(entries.iter().skip(1)) %}
		{% if entry.id <= 10000 %}
		{% for i in (last.id + 1)..entry.id %}
		{% if i <= 10000 %}
		<tr>
			<td>{{ i }}</td>
			<td />
			<td>Unused</td>
		</tr>
		{% endif %}
		{% endfor %}
		{% endif %}

		<tr>
			<td>{{ entry.id }}</td>
			<td>{{ entry.name }}</td>
			<td>{% if entry.post_id != -1 && posts.contains_key(entry.post_id) %}<a href="/post/{{ entry.post_id }}">{{ posts[entry.post_id | ref].name }}</a>{% else %}MM+{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock content %}
