{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% call base::draw_embed("", "") %}
{% endblock head %}

{% block content %}
<div class="card card-body">
	<div class="text-center">
		<h3 class="text mb-0">{{ status.as_str() }} {{ status.canonical_reason().unwrap_or_default() }}</h3>
		{% if status == StatusCode::UNAUTHORIZED %}
		<p class="text mt-1">
			You do not have access to this page.<br>
			You may have to <a href="/login">login</a> to access this content.
		</p>
		{% endif %}
	</div>
</div>
{% endblock content %}
