{% macro draw_post_list(posts) %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3" id="posts">
	{% for post in posts %}
		<div class="col">
			<div class="card shadow" style="height: 100%">
				{% call draw_post(post) %}
			</div>
		</div>
	{% endfor %}
</div>
{% endmacro %}

{% macro draw_post(post, rounded_images = true) %}
<a style="text-decoration: none;" href="/post/{{ post.id }}">
	<div class="card-img-top bg-clear border-none clearfix">
		<div class="ratio ratio-16x9">
		{% if let Some(image) = post.images.first() %}
			<img src="{{ image.replace("/public", "/thumbnail") }}" class="{% if rounded_images %}rounded-image{% endif %} w-100" loading="lazy" alt="Preview of {{ post.name }}" {% if post.explicit && !base.show_explicit() %}style="filter: blur(0.2rem)"{% endif %}>
		{% endif %}
		</div>
		{% if post.explicit %}
		<div class="card-img-overlay p-1">
			<span class="float-end badge rounded-pill bg-danger" style="font-size: 1rem">Explicit</span>
		</div>
		{% endif %}
	</div>
	<div class="card-body clearfix">
		<p class="col-auto float-end ms-1 text text-align-right">
			<span class="material-symbols-outlined" style="font-size: 0.8rem">favorite</span>{{ post.like_count|prettify_num }} <span class="material-symbols-outlined" style="font-size: 0.8rem">download</span>{{ post.download_count|prettify_num }}<br>
			{{ post.post_type }}
		</p>
		<h5 class="text"><b>{{ post.name }}</b></h5>
		{% for author in post.authors %}
			<img class="float-start pe-1 ratio ratio-1x1" style="border-radius: 100%; width: 1.75rem" src="{{ author.avatar }}?size=32" >
			<p class="text"> {{ author.display_name }}</p>
		{% endfor %}
	</div>
</a>
{% endmacro %}
