{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}
{% import "pv_helpers.html" as pv_helpers %}
{% import "module_helpers.html" as module_helpers %}
{% import "cstm_item_helpers.html" as cstm_item_helpers %}

{% block head %}
{% let text = post.text.trim().replace('#', "") %}
{% let text = text.split('\n').next().unwrap_or_default() %}
{% call base::draw_embed(post.name, text.trim()) %}
<meta property="og:image" content="{{ post.images[0] }}">
<meta name="twitter:card" content="summary_large_image">
{% endblock head %}

{% block content %}
{% if let Some(jwt) = jwt %}
{% if let Some(user) = user %}
<script>
	var liked = {{ has_liked }};

	function onLike() {
		if (liked) {
			document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerText.slice(0, -8)) - 1;
			document.getElementById('likedradiobtn').checked = false;
			liked = false;
		} else {
			document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerText.slice(0, -8)) + 1;
			document.getElementById('likedradiobtn').checked = true;
			liked = true;
		}

		var span = document.createElement("span");
		span.classList = "material-symbols-outlined";
		span.style = "font-size: 0.8rem";
		span.innerHTML = "favorite";
		document.getElementById('likes').append(span);

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch('/api/v1/posts/{{ post.id }}/like', options).catch(error => console.error(error));
	}

	{% if is_author || user.is_admin(config) %}
	function deletePost() {
		var options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch("/api/v1/posts/{{ post.id }}", options)
			.then(response => {
				window.location.href = "/"
			})
			.catch(error => console.error(error))
	}

	{% endif %}
	{% if user.is_admin(config) %}
	function extractPostData() {
		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}
		fetch("/api/v1/posts/{{ post.id }}/extract", options)
			.then(response => {
				window.location.href = "/admin"
			})
			.catch(error => console.error(error))
	}
	{% endif %}

	async function submitComment(text, parent) {
		var data = {
			'text': text,
		}
		if (parent != -1) {
			data.parent = parent;
		}

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: JSON.stringify(data),
		};

		await fetch('/api/v1/posts/{{ post.id }}/comment', options).catch(error => console.error(error));

		document.getElementById("startCommentButton" + parent).hidden = true;
		var d = new Date();
		var date = d.getUTCFullYear() + "-" + (d.getUTCMonth() + 1).toString().padStart(2, '0') + "-" + d.getUTCDate();
		document.getElementById("submitCommentButton" + parent).outerHTML = '<a href="/user/{{ user.id }}" class="card-subtitle text-muted">{{ user.display_name }}</a> ' + date;
		document.getElementById("comment_text" + parent).outerHTML = text;
		document.getElementById("newComment" + parent).classList.add("fit");
	}

	{% if let Some(comments) = post.comments %}
	async function deleteComment(id) {
		var options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			}
		}

		await fetch("/api/v1/posts/{{ post.id }}/comment/" + id, options).catch(error => console.error(error));

		document.getElementById("comment" + id).hidden = true;

		var minDepth = 0;
		var deletingChildren = false;
		{% for (depth, comment) in comments.iter() %}
		if (deletingChildren && {{ depth }} <= minDepth) {
			deletingChildren = false;
		} else if (deletingChildren) {
			document.getElementById("comment" + {{ comment.id }}).hidden = true;
		} else if ({{ comment.id }} == id) {
			minDepth = {{ depth }};
			deletingChildren = true;
		}
		{% endfor %}
	}
	{% endif %}
</script>
{% endif %}
{% endif %}

{% if let Some(user) = user %}
{% if is_author || user.is_admin(config) %}
<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Do you really want to delete {{ post.name }}?</h1>
			</div>
			<div class="modal-body">
				This will permanently delete this post and all associated data.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deletePost()">Yes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endif %}

{% if post.explicit && !base.show_explicit() %}
<div class="modal show" id="explicitModal" style="display: block" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-body d-flex align-items-center">
				<div class="container">
					<div class="card" style="text-align: center">
						<div class="card-body">
							<div class="card-img-top bg-clear border-none clearfix mx-auto" style="max-width: 550px">
								<div class="ratio ratio-16x9">
								{% if let Some(image) = post.images.first() %}
									<img src="{{ image }}" width="100%" loading="lazy" alt="Preview of {{ post.name }}">
								{% endif %}
								</div>
							</div>
							<h5 class="card-title mt-3">{{ post.name }} may contain content not appropriate for all ages, or may not be appropriate for viewing at work.</h5>
							{% if let Some(explicit_reason) = post.explicit_reason %}
							<p class="card-text">
								The mod creators describe the explicit content as<br>
								"{{ explicit_reason }}"
							</p>
							{% endif %}
						</div>
						<div class="card-footer">
							<div class="row col-lg-6 offset-lg-3">
								<button type="button" class="btn btn-secondary mx-auto" style="width: 40%" onclick="document.getElementById('explicitModal').remove()">View mod</button>
								<button type="button" class="btn btn-primary mx-auto" style="width: 40%" onclick="window.history.back(); window.location.href = '/';">Go back</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content" style="background: none">
			<div class="modal-body">
				<div style="position: absolute;z-index: 2;right: 0;display: flex;top: 0;bottom: 0;padding-top: 0.5rem;padding-right: 0.5rem;">
					<button type="button" class="btn-close {% if base.theme() == Theme::Light %}btn-close-white{% endif %}" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div id="imageModalCarousel" class="carousel {% if post.images.len() > 1 %}slide{% endif %}">
					<div class="carousel-inner">
						{% for (i, image) in post.images.iter().enumerate() %}
						<div id="imageModalCarousel{{ i }}" class="carousel-item">
							<div class="modal-dialog-centered container ratio ratio-16x9">
								<img src="{{ image }}" class="card-img-top flat-image bg-clear border-none" loading="lazy" alt="Preview of {{ post.name }}">
							</div>
						</div>
						{% endfor %}
					</div>
					{% if post.images.len() > 1 %}
					<button class="carousel-control-prev" type="button" data-bs-target="#imageModalCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#imageModalCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById("imageModal").addEventListener('show.bs.modal', event => {
		{% for i in 0..post.images.len() %}
		document.getElementById("imageModalCarousel{{ i }}").classList = "carousel-item";
		{% endfor %}
		document.getElementById(`imageModalCarousel${event.relatedTarget.getAttribute('data-bs-index')}`).classList = "carousel-item active";
	});
</script>

<div class="row align-items-md-stretch gap-3 m-1">
	{% if requires_expatch || requires_nc || !has_required_sprites || !has_optional_ftc_sprites %}
	<div class="alert alert-danger mb-0">
		{% if requires_expatch %}
		<p>This mod contains songs that do not have a hard chart, <a href="https://github.com/nastys/ExPatch/releases/latest">ExPatch</a> must be installed to access these songs.</p>
		{% endif %}
		{% if requires_nc %}
		<p>This mod contains songs that do not have an arcade chart, <a href="/post/169">New Classics</a> must be installed to access these songs.</p>
		{% endif %}
		{% if !has_required_sprites %}
		<p>This mod adds content that does not have matching sprites, it may show improperly in game</p>
		{% endif %}
		{% if !has_optional_ftc_sprites %}
		<p>This mod adds modules that do not have <a href="/post/266">Future Tone Customization</a> compatiable sprites, it will not work properly with that mod.</p>
		{% endif %}
	</div>
	{% endif %}

	{% if
		conflicting_pvs.len() > 0 ||
		conflicting_modules.len() > 0 ||
		conflicting_cstm_items.len() > 0 ||
		conflicting_pv_reservations.len() > 0 ||
		conflicting_module_reservations.len() > 0 ||
		conflicting_costume_reservations.len() > 0 ||
		conflicting_cstm_item_reservations.len() > 0
	%}
	<div class="alert alert-danger mb-0">
	<button class="accordion accordion-button p-1 pb-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#reservationConflicts">
			<h5 class="mb-0">This mod conflicts with the following:</h5>
		</button>
		<div id="reservationConflicts" class="p-1 pb-0 collapse">
			{% if conflicting_pvs.len() > 0 %}
			<h6 class="mt-2">PVs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflict Name</th>
						<th>Conflict source</th>
					</tr>
				</thead>
				<tbody>
					{% for (id, conflicting_pvs) in conflicting_pvs %}
					{% for pv in conflicting_pvs %}
					<tr>
						<td>{{ id }}</td>
						<td>{% if let Some(pv) = pvs.find_pv(*pv.id) %}{{ pv.name_en }}{% endif %}</td>
						<td>{{ pv.name_en }}</td>
						<td>{% if let Some(post) = pv.post %}<a href="/post/{{ post }}">{{ conflict_posts[post].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_pv_reservations.len() > 0 %}
			<h6 class="mt-2">Reserved PVs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Label</th>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
				{% for (user, ids) in conflicting_pv_reservations %}
					{% for (id, label) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{% if let Some(pv) = pvs.find_pv(**id) %}{{ pv.name }}{% endif %}</td>
						<td>{{ label | autolink }}</td>
						<td>{{ conflict_users[user].display_name }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_modules.len() > 0 %}
			<h6 class="mt-2">Modules:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflict Name</th>
						<th>Conflict source</th>
					</tr>
				</thead>
				<tbody>
					{% for (id, conflicting_modules) in conflicting_modules %}
					{% for module in conflicting_modules %}
					<tr>
						<td>{{ id }}</td>
						<td>{% if let Some(module) = modules.find_module(*module.id) %}{{ module.module.name_en.as_ref().unwrap_or(module.module.name.as_ref().unwrap_or(String::new() | ref)) }}{% endif %}</td>
						<td>{{ module.module.name_en.as_ref().unwrap_or(module.module.name.as_ref().unwrap_or(String::new() | ref)) }}</td>
						<td>{% if let Some(post) = module.post %}<a href="/post/{{ post }}">{{ conflict_posts[post].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_module_reservations.len() > 0 %}
			<h6 class="mt-2">Reserved Modules:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Label</th>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
				{% for (user, ids) in conflicting_module_reservations %}
					{% for (id, label) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{% if let Some(module) = modules.find_module(**id) %}{{ module.module.name_en.as_ref().unwrap_or(module.module.name.as_ref().unwrap_or(String::new() | ref)) }}{% endif %}</td>
						<td>{{ label | autolink }}</td>
						<td>{{ conflict_users[user].display_name }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_costume_reservations.len() > 0 %}
			{% for (chara, reservations) in conflicting_costume_reservations %}
			<h6 class="mt-2">Reserved {{ chara.to_string() }} costumes:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Label</th>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
				{% for (user, ids) in reservations %}
					{% for (id, label) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{% if let Some(module) = modules.find_cos(**id) %}{{ module.module.name_en.as_ref().unwrap_or(module.module.name.as_ref().unwrap_or(String::new() | ref)) }}{% endif %}</td>
						<td>{{ label | autolink }}</td>
						<td>{{ conflict_users[user].display_name }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
			{% endif %}

			{% if conflicting_cstm_items.len() > 0 %}
			<h6 class="mt-2">Customize Items:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflict Name</th>
						<th>Conflict source</th>
					</tr>
				</thead>
				<tbody>
					{% for (id, conflicting_cstm_items) in conflicting_cstm_items %}
					{% for cstm_item in conflicting_cstm_items %}
					<tr>
						<td>{{ cstm_item.id }}</td>
						<td>{% if let Some(cstm_item) = cstm_items.find_cstm_item(*cstm_item.id) %}{{ cstm_item.cstm_item.name_en.as_ref().unwrap_or(cstm_item.cstm_item.name.as_ref().unwrap_or(String::new() | ref)) }}{% endif %}</td>
						<td>{{ cstm_item.cstm_item.name_en.as_ref().unwrap_or(cstm_item.cstm_item.name.as_ref().unwrap_or(String::new() | ref)) }}</td>
						<td>{% if let Some(post) = cstm_item.post %}<a href="/post/{{ post }}">{{ conflict_posts[post].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_cstm_item_reservations.len() > 0 %}
			<h6 class="mt-2">Reserved Customize Items:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Label</th>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
				{% for (user, ids) in conflicting_cstm_item_reservations %}
					{% for (id, label) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{% if let Some(cstm_item) = cstm_items.find_cstm_item(**id) %}{{ cstm_item.cstm_item.name_en.as_ref().unwrap_or(cstm_item.cstm_item.name.as_ref().unwrap_or(String::new() | ref)) }}{% endif %}</td>
						<td>{{ label | autolink }}</td>
						<td>{{ conflict_users[user].display_name }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
	{% endif %}

	<div class="col-md-7 card card-body">
		<h2 class="text card-title pb-2" style="text-align: center">{{ post.name }} </h2>
		<div class="row">
			<h5 class="col card-subtitle text">Last updated: {{ post.time.date() }}</h5>
			<h5 class="col card-subtitle text-align-right-md text">{{ post.download_count }}<span class="material-symbols-outlined" style="font-size: 1rem">download</span></h5>
		</div>
		<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for (i, image) in post.images.iter().enumerate() %}
				<div class="carousel-item {% if i == 0 %}active{% endif %}">
					<button type="button" class="ratio ratio-16x9 bg-clear border-none" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-index="{{ i }}">
						<img src="{{ image }}" class="card-img-top flat-image" loading="lazy" alt="Preview of {{ post.name }}">
					</button>
				</div>
				{% endfor %}
			</div>
			{% if post.images.len() > 1 %}
			<button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			{% endif %}
		</div>
	</div>

	<div class="col-md-3 p-0">
		<div class="card mb-3">
			<div class="card-body" id="authors">
				{% for author in post.authors %}
				<a href="/user/{{ author.id }}" class="card-subtitle clearfix">
					<img class="float-start pe-2 pb-2 ratio ratio-1x1" style="border-radius: 100%; width: 3.5rem" src="{{ author.avatar }}?size=64">
					<h5 class="text" style="padding-top: 0.875rem;"> {{ author.display_name }}</h5>
				</a>
				{% endfor %}
			</div>
		</div>

		{% if pvs.pvs.len() > 0 || modules.modules.len() > 0 %}
		<div class="card mb-3">
			<div class="card-header">
				At a glance
			</div>
			<div class="card-body">
				{% if pvs.pvs.len() > 0 %}
					<p data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
{% if pv_easy_count > 0 %}Easy: {{ pv_easy_count }}<br>{% endif %}
{% if pv_normal_count > 0 %}Normal: {{ pv_normal_count }}<br>{% endif %}
{% if pv_hard_count > 0 %}Hard: {{ pv_hard_count }}<br>{% endif %}
{% if pv_extreme_count > 0 %}Extreme: {{ pv_extreme_count }}<br>{% endif %}
{% if pv_exextreme_count > 0 %}ExExtreme: {{ pv_exextreme_count }}<br>{% endif %}
">{{ pvs.pvs.len() }} Song{% if pvs.pvs.len() > 1 %}s{% endif %}</p>
				{% endif %}
				{% if modules.modules.len() > 0 %}
					<p>{{ modules.modules.len() }} Module{% if modules.modules.len() > 1 %}s{% endif %}</p>
				{% endif %}
			</div>
		</div>
		<script>
			const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
			const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl)) 
		</script>
		{% endif %}

		<div class="card card-body gap-3">
			{% if let Some(user) = user %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off" {% if has_liked %} checked="true" {% endif %} onclick="onLike()">
			<label class="btn btn-outline-primary" for="likedradiobtn" id="likes">{{ post.like_count }}<span class="material-symbols-outlined" style="font-size: 0.8rem">favorite</span></label>
			{% else %}
			<input type="radio" class="btn-check" name="btnradio" id="likedradiobtn" autocomplete="off">
			<label class="btn btn-outline-primary disabled" for="likedradiobtn" id="likes">{{ post.like_count }}<span class="material-symbols-outlined" style="font-size: 0.8rem">favorite</span></label>
			{% endif %}
			{% if post.files.is_empty() %}
			{% else if post.files.len() == 1 %}
			<a href="/api/v1/posts/{{ post.id }}/download/0" class="btn btn-success btn-success" type="button">Download</a>
			{% else %}
			<button class="btn btn-success btn-success text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Download</button>
			<ul class="dropdown-menu" style="width: 89%">
				{% for (i, file) in post.local_files.iter().enumerate() %}
					{% if let Some(file) = file.split("/").last() %}
						<li><a class="dropdown-item btn btn-sm btn-success btn-success" href="/api/v1/posts/{{ post.id }}/download/{{ i }}">{{ file }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
			{% if !post.private %}
			<a href="divamodmanager:dma/{{ post.id }}" class="btn btn-info" type="button">One Click Install</a>
			{% endif %}
			{% if let Some(user) = user %}
			{% if is_author || user.is_admin(config) %}
			<a href="/post/{{ post.id }}/edit" class="btn btn-warning" type="button">Edit</a>
			{% else %}
			<a href="/post/{{ post.id }}/report" class="btn btn-danger" type="button">Report</a>
			{% endif %}
			{% if is_author || user.is_admin(config) %}
			<button class="btn btn-danger btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" type="button">Delete</button>
			{% endif %}
			{% if user.is_admin(config) %}
			<button class="btn btn-danger btn-danger" onclick="extractPostData()" type="button">Extract Post Data</button>
			{% endif %}
			{% endif %}
		</div>
	</div>

	<style>
		.markdown th, .markdown td {
			border: .1rem solid black;
			padding: .25rem;
		}
		.markdown img {
			width: 100%;
		}
	</style>

	<div class="card card-body text markdown">{{ body_markdown | safe }}</div>

	{% if post.images.len() > 1 %}
	<div class="card card-body">
		<h4>Screenshots:</h4>
		<div class="row row-cols-1 row-cols-md-4 gy-3">
			{% for (i, image) in post.images.iter().enumerate() %}
			<div class="col">
				<button type="button" class="ratio ratio-16x9 bg-clear border-none" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-index="{{ i }}">
					<img src="{{ image }}" class="card-img-top flat-image" loading="lazy" alt="Preview of {{ post.name }}">
				</button>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if let Some(dependencies) = post.dependencies %}
	{% if let Some(dependency_descriptions) = post.dependency_descriptions %}
	{% if dependencies.len() > 0 %}
	<div class="card card-body">
		<h4>This mod requires: </h4>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3" id="posts">
		{% for post in dependencies %}
			<div class="col">
				<div class="card shadow h-100">
					{% if !dependency_descriptions[post.id | ref].is_empty() %}
					<div class="card-header py-2">
						<h5 class="my-1"><b>{{ dependency_descriptions[post.id | ref] }}</b></h5>
					</div>
					{% endif %}
					{% call post_helpers::draw_post(post, rounded_images = false) %}
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}

	{% if
		conflicting_sprite_sets.len() > 0 ||
		conflicting_sprites.len() > 0 ||
		conflicting_aet_sets.len() > 0 ||
		conflicting_aet_scenes.len() > 0 ||
		conflicting_objsets.len() > 0 ||
		conflicting_textures.len() > 0
	%}
	<div class="alert alert-warning mb-0">
		<button class="accordion accordion-button p-1 pb-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#dbConflicts">
			<h5 class="mb-0">This mod may conflict with the following:</h5>
		</button>
		<div id="dbConflicts" class="p-1 pb-0 collapse">
			{% if conflicting_sprite_sets.len() > 0 %}
			<h6 class="mt-2">Sprite Set IDs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflicting Name</th>
						<th>Conflict Source</th>
					</tr>
				</thead>
				<tbody>
				{% for (post_id, ids) in conflicting_sprite_sets %}
					{% for (id, conflict_name) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{{ sprite_sets[id] }}</td>
						<td>{{ conflict_name }}</td>
						<td>{% if *post_id != -1 && conflict_posts.contains_key(post_id) %}<a href="/post/{{ post_id }}">{{ conflict_posts[post_id].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_sprites.len() > 0 %}
			<h6 class="mt-2">Sprite IDs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflicting Name</th>
						<th>Conflict Source</th>
					</tr>
				</thead>
				<tbody>
				{% for (post_id, ids) in conflicting_sprites %}
					{% for (id, conflict_name) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{{ sprites[id] }}</td>
						<td>{{ conflict_name }}</td>
						<td>{% if *post_id != -1 && conflict_posts.contains_key(post_id) %}<a href="/post/{{ post_id }}">{{ conflict_posts[post_id].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_aet_sets.len() > 0 %}
			<h6 class="mt-2">Aet Set IDs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflicting Name</th>
						<th>Conflict Source</th>
					</tr>
				</thead>
				<tbody>
				{% for (post_id, ids) in conflicting_aet_sets %}
					{% for (id, conflict_name) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{{ aet_sets[id] }}</td>
						<td>{{ conflict_name }}</td>
						<td>{% if *post_id != -1 && conflict_posts.contains_key(post_id) %}<a href="/post/{{ post_id }}">{{ conflict_posts[post_id].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_aet_scenes.len() > 0 %}
			<h6 class="mt-2">Aet Scene IDs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflicting Name</th>
						<th>Conflict Source</th>
					</tr>
				</thead>
				<tbody>
				{% for (post_id, ids) in conflicting_aet_scenes %}
					{% for (id, conflict_name) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{{ aet_scenes[id] }}</td>
						<td>{{ conflict_name }}</td>
						<td>{% if *post_id != -1 && conflict_posts.contains_key(post_id) %}<a href="/post/{{ post_id }}">{{ conflict_posts[post_id].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_objsets.len() > 0 %}
			<h6 class="mt-2">Objset IDs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflicting Name</th>
						<th>Conflict Source</th>
					</tr>
				</thead>
				<tbody>
				{% for (post_id, ids) in conflicting_objsets %}
					{% for (id, conflict_name) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{{ objsets[id] }}</td>
						<td>{{ conflict_name }}</td>
						<td>{% if *post_id != -1 && conflict_posts.contains_key(post_id) %}<a href="/post/{{ post_id }}">{{ conflict_posts[post_id].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if conflicting_textures.len() > 0 %}
			<h6 class="mt-2">Texture IDs:</h6>
			<table class="table table-sm m-0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Conflicting Name</th>
						<th>Conflict Source</th>
					</tr>
				</thead>
				<tbody>
				{% for (post_id, ids) in conflicting_textures %}
					{% for (id, conflict_name) in ids %}
					<tr>
						<td>{{ id }}</td>
						<td>{{ textures[id] }}</td>
						<td>{{ conflict_name }}</td>
						<td>{% if *post_id != -1 && conflict_posts.contains_key(post_id) %}<a href="/post/{{ post_id }}">{{ conflict_posts[post_id].name }}</a>{% else %}MM+{% endif %}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
	{% endif %}

	{% if pvs.pvs.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#pvList">
			<h4 class="mb-0">This mod adds the following Songs:</h4>
		</button>
		<div id="pvList" class="p-0 collapse show m-0 mt-2">
			{% call pv_helpers::draw_pv_list(pvs, false) %}
		</div>
	</div>
	{% endif %}

	{% if modules.modules.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#moduleList">
			<h4 class="mb-0">This mod adds the following Modules:</h4>
		</button>
		<div id="moduleList" class="p-0 collapse show m-0 mt-2">
			{% call module_helpers::draw_module_list(modules, false) %}
		</div>
	</div>
	{% endif %}

	{% if cstm_items.cstm_items.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#cstmItemList">
			<h4 class="mb-0">This mod adds the following Customize Items:</h4>
		</button>
		<div id="cstmItemList" class="p-0 collapse show m-0 mt-2">
			{% call cstm_item_helpers::draw_cstm_items_list(cstm_items, false) %}
		</div>
	</div>
	{% endif %}

	{% if nc_songs.nc_songs.len() > 0 && nc_songs.contains_other_posts_songs(post) %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#ncSongList">
			<h4 class="mb-0">This mod adds the following New Classics Songs:</h4>
		</button>
		<div id="ncSongList" class="p-0 collapse show m-0 mt-2">
			{% call pv_helpers::draw_nc_song_list(nc_songs, false) %}
		</div>
	</div>
	{% endif %}

	{% if sprite_sets.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#spriteSetList">
			<h4 class="mb-0">This mod adds the following Sprite Sets:</h4>
		</button>
		<div id="spriteSetList" class="p-0 collapse m-0 mt-2">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				{% for (i, (id, name)) in sprite_sets.iter().enumerate() %}
					<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}">
						<td>{{ id }}</td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if sprites.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#spriteList">
			<h4 class="mb-0">This mod adds the following Sprites:</h4>
		</button>
		<div id="spriteList" class="p-0 collapse m-0 mt-2">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				{% for (i, (id, name)) in sprites.iter().enumerate() %}
					<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}">
						<td>{{ id }}</td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if aet_sets.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#aetSetList">
			<h4 class="mb-0">This mod adds the following Aet Sets:</h4>
		</button>
		<div id="aetSetList" class="p-0 collapse m-0 mt-2">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				{% for (i, (id, name)) in aet_sets.iter().enumerate() %}
					<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}">
						<td>{{ id }}</td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if aet_scenes.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#aetSceneList">
			<h4 class="mb-0">This mod adds the following Aet Scenes:</h4>
		</button>
		<div id="aetSceneList" class="p-0 collapse m-0 mt-2">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				{% for (i, (id, name)) in aet_scenes.iter().enumerate() %}
					<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}">
						<td>{{ id }}</td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if objsets.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#objsetList">
			<h4 class="mb-0">This mod adds the following Objsets:</h4>
		</button>
		<div id="objsetList" class="p-0 collapse m-0 mt-2">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				{% for (i, (id, name)) in objsets.iter().enumerate() %}
					<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}">
						<td>{{ id }}</td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if textures.len() > 0 %}
	<div class="card card-body">
		<button class="accordion accordion-button p-0 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#textureList">
			<h4 class="mb-0">This mod adds the following Textures:</h4>
		</button>
		<div id="textureList" class="p-0 collapse m-0 mt-2">
			<table class="table table-sm ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				{% for (i, (id, name)) in textures.iter().enumerate() %}
					<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}">
						<td>{{ id }}</td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

	{% if let Some(user) = user %}
	<button class="btn btn-sm btn-primary" style="width: 100%" type="button" data-bs-toggle="collapse" data-bs-target="#commentInput-1"
		aria-expanded="false" aria-controls="commentInput-1" id="startCommentButton-1">Comment</button>
	<div class="collapse row g-1 m-0" id="commentInput-1">
		<div class="col-small me-1">
			<div class="card line"></div>
		</div>
		<div class="col row g-1">
			<div class="row-cols-1 card p-0" id="newComment-1">
				<div class="card-body card-text text p-2">
					<textarea class="form-control" id="comment_text-1" rows="3"></textarea>
				</div>
				<div class="card-footer text-muted p-2">
					<button class="btn btn-sm btn-primary" type="button" id="submitCommentButton-1"
						onclick="submitComment(document.getElementById('comment_text-1').value, -1)">Submit
						comment</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if let Some(comments) = post.comments %}
	{% for (depth, comment) in comments.iter() %}
	<div class="row g-1 m-0" id="comment{{ comment.id }}">
		{% for _ in 0..=depth %}
		<div class="col-small me-1">
			<div class="card line"></div>
		</div>
		{% endfor %}
		<div class="col row g-1">
			<div class="row-cols-1 card p-0 fit" id="{{ comment.id }}">
				<div class="card-body card-text text p-2">
					{{ comment.text }}
				</div>
				<div class="card-footer text-muted p-2">
					<a href="/user/{{ comment.user.id }}" class="card-subtitle text-muted">{{ comment.user.display_name }}</a>
					{{ comment.time.date() }}
					{% if let Some(user) = user %}
					<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
						data-bs-target="#commentInput{{comment.id}}" aria-expanded="false"
						aria-controls="commentInput{{comment.id}}" id="startCommentButton{{comment.id}}">Reply</button>
					{% if user.id == comment.user.id || user.is_admin(config) %}
					<button class="btn btn-sm btn-danger" type="button" onclick="deleteComment({{ comment.id }})">Delete</button>
					{% endif %}
					{% endif %}
				</div>
			</div>
			{% if let Some(user) = user %}
			<div class="collapse row g-1 m-0" id="commentInput{{comment.id}}">
				<div class="col-small me-1">
					<div class="card line"></div>
				</div>
				<div class="col row g-1">
					<div class="row-cols-1 card p-0" id="newComment{{comment.id}}">
						<div class="card-body card-text text p-2">
							<textarea class="form-control" id="comment_text{{comment.id}}" rows="3"></textarea>
						</div>
						<div class="card-footer text-muted p-2">
							<button class="btn btn-sm btn-primary" type="button" id="submitCommentButton{{comment.id}}"
								onclick="submitComment(document.getElementById('comment_text{{comment.id}}').value, {{comment.id}})">Submit
								reply</button>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock content %}
