{% macro draw_pv_list_entry(i, pv, pv_search, show_source) %}
		<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}" role="button" data-bs-toggle="collapse" data-bs-target="#pvCollapse{{ pv.uid }}">
			<td>{{ pv.name_en }}</td>
			<td>{{ pv.name }}</td>
			<td>{{ pv.id }}</td>
			{% if show_source %}
			<td>{% if let Some(post) = pv.post %}{{ pv_search.posts[post].name }}{% else %}MM+{% endif %}</td>
			{% endif %}
		</tr>

		{% let cols -%}
		{% if pv.song_info_count() == 6 -%}
		{% let cols = 6 -%}
		{% else -%}
		{% let cols = 5 -%}
		{% endif -%}

		<tr>
			<td colspan="{% if show_source %}4{% else %}3{% endif %}" class="p-0" style="border: none">
				<div class="collapse" id="pvCollapse{{ pv.uid }}">
					<div class="card card-body" style="border-radius: 0">
						<table class="table table-sm m-0">
							<thead>
								<tr>
									<th>Name (EN)</th>
									<th>Name (JP)</th>
									<th>ID</th>
									<th>Source</th>
									{% for _ in 4..cols %}
										<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
									<td>{{ pv.name_en }}</td>
									<td>{{ pv.name }}</td>
									<td>{{ pv.id }}</td>
									<td>{% if let Some(post) = pv.post %}<a href="/post/{{ post }}" class="nav-link">{{ pv_search.posts[post].name }}</a>{% else %}MM+{% endif %}</td>
									{% for _ in 4..cols %}
									<td />
									{% endfor %}
								</tr>
							</tbody>

							{% if pv.song_info_count() != 0 %}
							<thead>
								<tr>
									{% if pv.has_music() %}
									<th>Music</th>
									{% endif %}
									{% if pv.has_lyrics() %}
									<th>Lyrics</th>
									{% endif %}
									{% if pv.has_arranger() %}
									<th>Arranger</th>
									{% endif %}
									{% if pv.has_manipulator() %}
									<th>Manipulator</th>
									{% endif %}
									{% if pv.has_editor() %}
									<th>Editor</th>
									{% endif %}
									{% if pv.has_guitar() %}
									<th>Guitar</th>
									{% endif %}
									{% for _ in pv.song_info_count()..cols %}
									<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{% if let Some(song_info) = pv.song_info_en %}
								<tr class="table-dark">
									{% if pv.has_music() %}
									<td>{% if let Some(music) = song_info.music %}{{ music }}{% endif %}</td>
									{% endif %}
									{% if pv.has_lyrics() %}
									<td>{% if let Some(lyrics) = song_info.lyrics %}{{ lyrics }}{% endif %}</td>
									{% endif %}
									{% if pv.has_arranger() %}
									<td>{% if let Some(arranger) = song_info.arranger %}{{ arranger }}{% endif %}</td>
									{% endif %}
									{% if pv.has_manipulator() %}
									<td>{% if let Some(manipulator) = song_info.manipulator %}{{ manipulator }}{% endif %}</td>
									{% endif %}
									{% if pv.has_editor() %}
									<td>{% if let Some(pv_editor) = song_info.pv_editor %}{{ pv_editor }}{% endif %}</td>
									{% endif %}
									{% if pv.has_guitar() %}
									<td>{% if let Some(guitar_player) = song_info.guitar_player %}{{ guitar_player }}{% endif %}</td>
									{% endif %}
									{% for _ in pv.song_info_count()..cols %}
									<td />
									{% endfor %}
								</tr>
								{% endif %}

								{% if let Some(song_info) = pv.song_info %}
								<tr class="table-dark">
									{% if pv.has_music() %}
									<td>{% if let Some(music) = song_info.music %}{{ music }}{% endif %}</td>
									{% endif %}
									{% if pv.has_lyrics() %}
									<td>{% if let Some(lyrics) = song_info.lyrics %}{{ lyrics }}{% endif %}</td>
									{% endif %}
									{% if pv.has_arranger() %}
									<td>{% if let Some(arranger) = song_info.arranger %}{{ arranger }}{% endif %}</td>
									{% endif %}
									{% if pv.has_manipulator() %}
									<td>{% if let Some(manipulator) = song_info.manipulator %}{{ manipulator }}{% endif %}</td>
									{% endif %}
									{% if pv.has_editor() %}
									<td>{% if let Some(pv_editor) = song_info.pv_editor %}{{ pv_editor }}{% endif %}</td>
									{% endif %}
									{% if pv.has_guitar() %}
									<td>{% if let Some(guitar_player) = song_info.guitar_player %}{{ guitar_player }}{% endif %}</td>
									{% endif %}
									{% for _ in pv.song_info_count()..cols %}
									<td />
									{% endfor %}
								</tr>
								{% endif %}
							</tbody>
							{% endif %}

							{% let owns_nc -%}
							{% if let Some(nc_songs) = pv_search.nc_songs.get(pv.id) -%}
								{% let owns_nc = pv.owns_nc(nc_songs) -%}
							{% else -%}
								{% let owns_nc = false -%}
							{% endif -%}

							{% if !owns_nc %}
							<thead>
								<tr>
									<th>Easy</th>
									<th>Normal</th>
									<th>Hard</th>
									<th>Extreme</th>
									<th>Extra Extreme</th>
									{% for _ in 5..cols %}
										<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
								{% for i in 0..5 %}
									{% if let Some(level) = pv.levels[i] %}
									<td style="background-color: var({{ DIFFICULTY_COLOURS[i] }})"><b>{{ level.to_string() }}</b><span class="material-symbols-outlined" style="font-size: 0.8rem">star</span></td>
									{% else %}
									<td />
									{% endif %}
								{% endfor %}
								{% for _ in 5..cols %}
									<td />
								{% endfor %}
								</tr>
							</tbody>
							{% endif %}

							{% if let Some(nc_songs) = pv_search.nc_songs.get(pv.id) %}
							<tbody>
							{% for song in nc_songs %}
							<tr>
							<td colspan="{{ cols }}" class="p-0" style="border: none">
							<div class="card card-body" style="border-radius: 0">
							<table class="table table-sm m-0">
							<thead>
								<tr>
									<th>New Classics Post</th>
									<th>Has Arcade</th>
									<th>Has Console</th>
									<th>Has Mixed</th>
									{% for _ in 4..cols %}
										<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
									<td><a href="/post/{{ song.post }}" class="nav-link">{{ pv_search.posts[song.post | ref].name }}</a></td>
									<td>
										<span class="material-symbols-outlined fs-5">
										{% if song.has_arcade(pv) %}
											check
										{% else %}
											close
										{% endif %}
										</span>
									</td>
									<td>
										<span class="material-symbols-outlined fs-5">
										{% if song.has_console() %}
											check
										{% else %}
											close
										{% endif %}
										</span>
									</td>
									<td>
										<span class="material-symbols-outlined fs-5">
										{% if song.has_mixed() %}
											check
										{% else %}
											close
										{% endif %}
										</span>
									</td>
									{% for _ in 4..cols %}
										<td />
									{% endfor %}
								</tr>
							</tbody>

							{% if song.post == pv.post.unwrap_or(0) && song.has_arcade(pv) %}
							<thead>
								<tr>
									<th>Arcade Easy</th>
									<th>Arcade Normal</th>
									<th>Arcade Hard</th>
									<th>Arcade Extreme</th>
									<th>Arcade Extra Extreme</th>
									{% for _ in 5..cols %}
										<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
								{% for i in 0..5 %}
									{% if let Some(level) = song.get_arcade_level(pv, *i) %}
									<td style="background-color: var({{ DIFFICULTY_COLOURS[i] }})">
										<b>{{ level.to_string() }}</b>
										<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
									</td>
									{% else %}
									<td />
									{% endif %}
								{% endfor %}
								{% for _ in 5..cols %}
									<td />
								{% endfor %}
								</tr>
							</tbody>
							{% endif %}

							{% if song.has_console() %}
							<thead>
								<tr>
									<th>Console Easy</th>
									<th>Console Normal</th>
									<th>Console Hard</th>
									<th>Console Extreme</th>
									<th>Console Extra Extreme</th>
									{% for _ in 5..cols %}
										<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
								{% for i in 0..5 %}
									{% if let Some(level) = song.get_console_level(pv, *i) %}
									<td style="background-color: var({{ DIFFICULTY_COLOURS[i] }})">
										<b>{{ level.to_string() }}</b>
										<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
									</td>
									{% else %}
									<td />
									{% endif %}
								{% endfor %}
								{% for _ in 5..cols %}
									<td />
								{% endfor %}
								</tr>
							</tbody>
							{% endif %}

							{% if song.has_mixed() %}
							<thead>
								<tr>
									<th>Mixed Easy</th>
									<th>Mixed Normal</th>
									<th>Mixed Hard</th>
									<th>Mixed Extreme</th>
									<th>Mixed Extra Extreme</th>
									{% for _ in 5..cols %}
										<th />
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
								{% for i in 0..5 %}
									{% if let Some(level) = song.get_mixed_level(pv, *i) %}
									<td style="background-color: var({{ DIFFICULTY_COLOURS[i] }})">
										<b>{{ level.to_string() }}</b>
										<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
									</td>
									{% else %}
									<td />
									{% endif %}
								{% endfor %}
								{% for _ in 5..cols %}
									<td />
								{% endfor %}
								</tr>
							</tbody>
							{% endif %}
							</table>
							</div>
							</td>
							</tr>
							{% endfor %}
							</tbody>
							{% endif %}
						</table>
					</div>
				</div>
			</td>
		</tr>
{% endmacro %}

{% macro draw_pv_list(pv_search, show_source) %}
<table class="table sm-table table-hover">
	<thead>
		<tr>
			<th>Name (EN)</th>
			<th>Name (JP)</th>
			<th>ID</th>
			{% if show_source %}
			<th>Source</th>
			{% endif %}
		</tr>
	</thead>
	<tbody id="pvs">
		{% for (i, pv) in pv_search.pvs.iter().enumerate() %}
			{% call draw_pv_list_entry(i, pv, pv_search, show_source) %}
		{% endfor %}
	</tbody>
</table>
{% endmacro %}

{% macro draw_nc_song_list(nc_songs, show_source) %}
<table class="table sm-table table-hover">
	<thead>
		<tr>
			<th>Song Name (EN)</th>
			<th>Song Name (JP)</th>
			<th>ID</th>
			<th>Song Source</th>
			{% if show_source %}
				<th>NC Source</th>
			{% endif %}
		</tr>
	</thead>
	<tbody id="nc_songs">
		{% for (i, song) in nc_songs.nc_songs.iter().enumerate() %}
		<tr class="{% if i % 2 == 0 %}{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}{% else %}table-dark{% endif %}" role="button" data-bs-toggle="collapse" data-bs-target="#ncCollapse{{ song.uid }}">
			{% if let Some(pvs) = nc_songs.pvs.get(song.pv_id) %}
				{% if pvs.len() == 0 %}
					<td>Unknown</td>
					<td />
					<td>{{ song.pv_id }}</td>
					<td>Not found</td>
					{% if show_source %}
						<td>{{ nc_songs.posts[song.post | ref].name }}</td>
					{% endif %}
				{% else if pvs.len() == 1 %}
					<td>{{ pvs[0].name_en }}</td>
					<td>{{ pvs[0].name }}</td>
					<td>{{ song.pv_id }}</td>
					<td>{% if let Some(post) = pvs[0].post %}{{ nc_songs.posts[post].name }}{% else %}MM+{% endif %}</td>
					{% if show_source %}
						<td>{{ nc_songs.posts[song.post | ref].name }}</td>
					{% endif %}
				{% else %}
					<td>Unknown</td>
					<td />
					<td>{{ song.pv_id }}</td>
					<td>Multiple matches</td>
					{% if show_source %}
						<td>{{ nc_songs.posts[song.post | ref].name }}</td>
					{% endif %}
				{% endif %}
			{% else %}
				<td>Unknown</td>
				<td />
				<td>{{ song.pv_id }}</td>
				<td>Not found</td>
				{% if show_source %}
					<td>{{ nc_songs.posts[song.post | ref].name }}</td>
				{% endif %}
			{% endif %}
		</tr>

		<tr>
			<td colspan="{% if show_source %}5{% else %}4{% endif %}" class="p-0" style="border: none">
				<div class="collapse" id="ncCollapse{{ song.uid }}">
					<div class="card card-body" style="border-radius: 0">
						<table class="table table-sm m-0">
							{% if let Some(pvs) = nc_songs.pvs.get(song.pv_id) %}
							{% if pvs.len() != 0 %}
							<thead>
								<tr>
									<th>Song Name (EN)</th>
									<th>Song Name (JP)</th>
									<th>ID</th>
									<th>Song Source</th>
									<th />
								</tr>
							</thead>
							{% for pv in pvs %}
							<tbody>
								<tr class="table-dark">
									<td>{{ pv.name_en }}</td>
									<td>{{ pv.name }}</td>
									<td>{{ pv.id }}</td>
									<td>{% if let Some(post) = pv.post %}<a href="/post/{{ post }}" class="nav-link">{{ nc_songs.posts[post].name }}</a>{% else %}MM+{% endif %}</td>
									<td />
								</tr>
							</tbody>
							{% endfor %}
							{% endif %}
							{% endif %}

							<thead>
								<tr>
									<th>Has Arcade</th>
									<th>Has Console</th>
									<th>Has Mixed</th>
									<th />
									<th />
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
									<td>
										<span class="material-symbols-outlined fs-5">
										{% if song.has_arcade_search(nc_songs) %}
											check
										{% else %}
											close
										{% endif %}
										</span>
									</td>
									<td>
										<span class="material-symbols-outlined fs-5">
										{% if song.has_console() %}
											check
										{% else %}
											close
										{% endif %}
										</span>
									</td>
									<td>
										<span class="material-symbols-outlined fs-5">
										{% if song.has_mixed() %}
											check
										{% else %}
											close
										{% endif %}
										</span>
									</td>
									<td />
									<td />
								</tr>
							</tbody>

							{% if song.has_console() %}
							<thead>
								<tr>
									<th>Console Easy</th>
									<th>Console Normal</th>
									<th>Console Hard</th>
									<th>Console Extreme</th>
									<th>Console Extra Extreme</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
								{% for i in 0..5 %}
									{% if let Some(level) = song.get_console_level_search(nc_songs, *i) %}
									<td style="background-color: var({{ DIFFICULTY_COLOURS[i] }})">
										<b>
											{% if let Some(level) = level %}
												{{ level.to_string() }}
											{% else %}
												Unknown
											{% endif %}
										</b>
										<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
									</td>
									{% else %}
									<td />
									{% endif %}
								{% endfor %}
								</tr>
							</tbody>
							{% endif %}

							{% if song.has_mixed() %}
							<thead>
								<tr>
									<th>Mixed Easy</th>
									<th>Mixed Normal</th>
									<th>Mixed Hard</th>
									<th>Mixed Extreme</th>
									<th>Mixed Extra Extreme</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-dark">
								{% for i in 0..5 %}
									{% if let Some(level) = song.get_mixed_level_search(nc_songs, *i) %}
									<td style="background-color: var({{ DIFFICULTY_COLOURS[i] }})">
										<b>
											{% if let Some(level) = level %}
												{{ level.to_string() }}
											{% else %}
												Unknown
											{% endif %}
										</b>
										<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
									</td>
									{% else %}
									<td />
									{% endif %}
								{% endfor %}
								</tr>
							</tbody>
							{% endif %}
						</table>
					</div>
				</div>
			</td>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}