{% extends "base.html" %}
{% import "base.html" as base %}
{% import "pv_helpers.html" as pv_helpers %}

{% block head %}
{% call base::draw_embed("PVs", "") %}
{% endblock head %}

{% block content %}
<script>
	function levelToString(level) {
		switch (level) {
			case "PV_LV_00_0": return "0";
			case "PV_LV_00_5": return "0.5";
			case "PV_LV_01_0": return "1";
			case "PV_LV_01_5": return "1.5";
			case "PV_LV_02_0": return "2";
			case "PV_LV_02_5": return "2.5";
			case "PV_LV_03_0": return "3";
			case "PV_LV_03_5": return "3.5";
			case "PV_LV_04_0": return "4";
			case "PV_LV_04_5": return "4.5";
			case "PV_LV_05_0": return "5";
			case "PV_LV_05_5": return "5.5";
			case "PV_LV_06_0": return "6";
			case "PV_LV_06_5": return "6.5";
			case "PV_LV_07_0": return "7";
			case "PV_LV_07_5": return "7.5";
			case "PV_LV_08_0": return "8";
			case "PV_LV_08_5": return "8.5";
			case "PV_LV_09_0": return "9";
			case "PV_LV_09_5": return "9.5";
			case "PV_LV_10_0": return "10";
			default: return "";
		}
	}

	function someOrNA(data) {
		if (data == null) {
			return "";
		} else {
			return data;
		}
	}

	function has_arcade(nc_song, pv) {
		for (var i = 0; i < 5; i++) {
			if (pv.levels[i] != null && (nc_song.difficulties[i] == null || (nc_song.difficulties[i].console == null && nc_song.difficulties[i].mixed == null) || nc_song.difficulties[i].arcade != null)) {
				return true;
			}
		}

		return false;
	}

	function has_console(nc_song, pv) {
		for (var i = 0; i < 5; i++) {
			if (pv.levels[i] != null && nc_song.difficulties[i] != null && nc_song.difficulties[i].console != null) {
				return true;
			}
		}

		return false;
	}

	function has_mixed(nc_song, pv) {
		for (var i = 0; i < 5; i++) {
			if (pv.levels[i] != null && nc_song.difficulties[i] != null && nc_song.difficulties[i].mixed != null) {
				return true;
			}
		}

		return false;
	}

	function get_arcade_level(nc_song, pv, i) {
		if (pv.levels[i] == null || (nc_song.difficulties[i] != null && (nc_song.difficulties[i].console != null || nc_song.difficulties[i].mixed != null) && nc_song.difficulties[i].arcade == null)) {
			return null;
		}

		if (nc_song.difficulties[i] != null && nc_song.difficulties[i].arcade != null && nc_song.difficulties[i].arcade.level != null) {
			return levelToString(nc_song.difficulties[i].arcade.level);
		}

		return levelToString(pv.levels[i]);
	}

	function get_console_level(nc_song, pv, i) {
		if (pv.levels[i] == null || nc_song.difficulties[i] == null || nc_song.difficulties[i].console == null) {
			return null;
		}

		if (nc_song.difficulties[i] != null && nc_song.difficulties[i].console != null && nc_song.difficulties[i].console.level != null) {
			return levelToString(nc_song.difficulties[i].console.level);
		}

		return levelToString(pv.levels[i]);
	}

	function get_mixed_level(nc_song, pv, i) {
		if (pv.levels[i] == null || nc_song.difficulties[i] == null || nc_song.difficulties[i].mixed == null) {
			return null;
		}

		if (nc_song.difficulties[i] != null && nc_song.difficulties[i].mixedonsole != null && nc_song.difficulties[i].mixed.level != null) {
			return levelToString(nc_song.difficulties[i].mixed.level);
		}

		return levelToString(pv.levels[i]);
	}

	let difficulty_colours = ["--diva-easy",  "--diva-normal",  "--diva-hard",  "--diva-extreme",  "--diva-exex"]

	function getPvHtml(pv, nc_songs, posts) {
		var tr = document.createElement('tr');
		tr.classList = [document.getElementById("pvs").children.length % 4 == 0 ? '{% if base.theme() == Theme::Dark %}table-secondary{% else %}table-light{% endif %}' : 'table-dark'];
		tr.innerHTML = `
			<td>${pv.name_en}</td>
			<td>${pv.name}</td>
			<td>${pv.id}</td>
			<td>${pv.post == null ? 'MM+' : posts[pv.post].name}</td>
		`;
		tr.role = "button";
		tr.setAttribute("data-bs-toggle", "collapse");
		tr.setAttribute("data-bs-target", `#pvCollapse${pv.uid}`);

		document.getElementById("pvs").append(tr);

		var showMusic = (pv.song_info_en != null && pv.song_info_en.music != null && pv.song_info_en.music != '') || (pv.song_info != null && pv.song_info.music != null && pv.song_info.music != '');
		var showLyrics = (pv.song_info_en != null && pv.song_info_en.lyrics != null && pv.song_info_en.lyrics != '') || (pv.song_info != null && pv.song_info.lyrics != null && pv.song_info.lyrics != '');
		var showArranger = (pv.song_info_en != null && pv.song_info_en.arranger != null && pv.song_info_en.arranger != '') || (pv.song_info != null && pv.song_info.arranger != null && pv.song_info.arranger != '');
		var showManipulator = (pv.song_info_en != null && pv.song_info_en.manipulator != null && pv.song_info_en.manipulator != '') || (pv.song_info != null && pv.song_info.manipulator != null && pv.song_info.manipulator != '');
		var showEditor = (pv.song_info_en != null && pv.song_info_en.pv_editor != null && pv.song_info_en.pv_editor != '') || (pv.song_info != null && pv.song_info.pv_editor != null && pv.song_info.pv_editor != '');
		var showGuitar = (pv.song_info_en != null && pv.song_info_en.guitar_player != null && pv.song_info_en.guitar_player != '') || (pv.song_info != null && pv.song_info.guitar_player != null && pv.song_info.guitar_player != '');

		var maxLen = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar;
		if (maxLen < 5) maxLen = 5;

		let collapsingTr = document.createElement('tr');
		let collapsingTd = document.createElement('td');
		collapsingTd.colSpan = 4;
		collapsingTd.classList = 'p-0'
		collapsingTd.style.border = 'none';

		let collapsing = document.createElement('div');
		collapsing.classList = 'collapse';
		collapsing.id = `pvCollapse${pv.uid}`;

		let card = document.createElement('div');
		card.classList = 'card card-body';
		card.style.borderRadius = 0;

		let table = document.createElement('table');
		table.classList = 'table table-sm m-0';

		let html = `
<thead>
	<tr>
		<th>Name (EN)</th>
		<th>Name (JP)</th>
		<th>ID</th>
		<th>Source</th>
		`;

		for (var i = 4; i < maxLen; i++) {
			html += '<th />';
		}

		html += `
	</tr>
</thead>
<tbody>
	<tr class="table-dark">
		`;
		html += `
		<td>${pv.name_en}</td>
		<td>${pv.name}</td>
		`;

		html += `
		<td>${pv.id}</td>
		<td>
		`;

		if (pv.post != null) {
			html += `<a href="/post/${pv.post}" class="nav-link">${posts[pv.post].name}</a>`;
		} else {
			html += 'MM+';
		}

		html += '</td>';

		for (var i = 4; i < maxLen; i++) {
			html += '<td />';
		}

		html += `
	</tr>
</tbody>
		`;

		if (showMusic || showLyrics || showArranger || showManipulator || showEditor || showGuitar) {
			html += '<thead><tr>';

			if (showMusic) html += '<th>Music</th>';
			if (showLyrics) html += '<th>Lyrics</th>';
			if (showArranger) html += '<th>Arranger</th>';
			if (showManipulator) html += '<th>Manipulator</th>';
			if (showEditor) html += '<th>PV Editor</th>';
			if (showGuitar) html += '<th>Guitar</th>';

			for (var i = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar; i < maxLen; i++) {
				html += '<th />';
			}

			html += '</tr></thead><tbody>';

			if (pv.song_info_en != null) {
				html += '<tr class="table-dark">';

				if (showMusic) html += `<td>${someOrNA(pv.song_info_en.music)}</td>`;
				if (showLyrics) html += `<td>${someOrNA(pv.song_info_en.lyrics)}</td>`;
				if (showArranger) html += `<td>${someOrNA(pv.song_info_en.arranger)}</td>`;
				if (showManipulator) html += `<td>${someOrNA(pv.song_info_en.manipulator)}</td>`;
				if (showEditor) html += `<td>${someOrNA(pv.song_info_en.pv_editor)}</td>`;
				if (showGuitar) html += `<td>${someOrNA(pv.song_info_en.guitar_player)}</td>`;

				for (var i = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar; i < maxLen; i++) {
					html += '<td />';
				}

				html += '</tr>';
			}

			if (pv.song_info != null) {
				html += '<tr class="table-dark">';

				if (showMusic) html += `<td>${someOrNA(pv.song_info.music)}</td>`;
				if (showLyrics) html += `<td>${someOrNA(pv.song_info.lyrics)}</td>`;
				if (showArranger) html += `<td>${someOrNA(pv.song_info.arranger)}</td>`;
				if (showManipulator) html += `<td>${someOrNA(pv.song_info.manipulator)}</td>`;
				if (showEditor) html += `<td>${someOrNA(pv.song_info.pv_editor)}</td>`;
				if (showGuitar) html += `<td>${someOrNA(pv.song_info.guitar_player)}</td>`;

				for (var i = showMusic + showLyrics + showArranger + showManipulator + showEditor + showGuitar; i < maxLen; i++) {
					html += '<td />';
				}
				html += '<tr />';
			}

			html += '</tbody>';
		}

		let owns_nc = false;
		if (nc_songs[pv.id] != undefined && pv.post != null && pv.post != -1) {
			for (var nc_song of nc_songs[pv.id]) {
				if (nc_song.post == pv.post) {
					owns_nc = true;
				}
			}
		}

		if (!owns_nc) {
			html += `
<thead>
	<tr>
		<th>Easy</th>
		<th>Normal</th>
		<th>Hard</th>
		<th>Extreme</th>
		<th>Extra Extreme</th>
			`;

			for (var i = 5; i < maxLen; i++) {
				html += '<th />';
			}

			html += `
	</tr>
</thead>
<tbody>
	<tr class="table-dark">
		<td style="${pv.levels[0] != null ? 'background-color: var(--diva-easy)' : ''}"><b>${levelToString(pv.levels[0])}</b>${pv.levels[0] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
		<td style="${pv.levels[1] != null ? 'background-color: var(--diva-normal)' : ''}"><b>${levelToString(pv.levels[1])}</b>${pv.levels[1] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
		<td style="${pv.levels[2] != null ? 'background-color: var(--diva-hard)' : ''}"><b>${levelToString(pv.levels[2])}</b>${pv.levels[2] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
		<td style="${pv.levels[3] != null ? 'background-color: var(--diva-extreme)' : ''}"><b>${levelToString(pv.levels[3])}</b>${pv.levels[3] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
		<td style="${pv.levels[4] != null ? 'background-color: var(--diva-exex)' : ''}"><b>${levelToString(pv.levels[4])}</b>${pv.levels[4] != null ? '<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>' : ''}</td>
			`;

			for (var i = 5; i < maxLen; i++) {
				html += '<td />';
			}

			html += `</tr></tbody>`;
		}

		if (nc_songs[pv.id] != undefined) {
			for (var nc_song of nc_songs[pv.id]) {
				html += `
<thead>
	<tr>
		<th>New Classics Post</th>
		<th>Has Arcade</th>
		<th>Has Console</th>
		<th>Has Mixed</th>
				`;

				for (var i = 4; i < maxLen; i++) {
					html += '<td />';
				}

			html += `
	</tr>
</thead>
<tbody>
	<tr class="table-dark">
		<td><a href="/post/${nc_song.post}" class="nav-link">${posts[nc_song.post].name}</a></td>
		<td><span class="material-symbols-outlined fs-5">${has_arcade(nc_song, pv) ? 'check' : 'close'}</span></td>
		<td><span class="material-symbols-outlined fs-5">${has_console(nc_song, pv) ? 'check' : 'close'}</span></td>
		<td><span class="material-symbols-outlined fs-5">${has_mixed(nc_song, pv) ? 'check' : 'close'}</span></td>
				`;

				for (var i = 4; i < maxLen; i++) {
					html += '<td />';
				}

			html += `
	</tr>
</tbody>
				`;

				if (nc_song.post == pv.post && has_arcade(nc_song, pv)) {
					html += `
<thead>
	<tr>
		<th>Arcade Easy</th>
		<th>Arcade Normal</th>
		<th>Arcade Hard</th>
		<th>Arcade Extreme</th>
		<th>Arcade Extra Extreme</th>
					`;

					for (var i = 5; i < maxLen; i++) {
						html += '<td />';
					}

					html += `
	</tr>
</thead>
<tbody>
	<tr class="table-dark">
					`;
					for (var i = 0; i < 5; i++) {
						let level = get_arcade_level(nc_song, pv, i);
						if (level == null) {
							html += '<td />';
						} else {
							html += `
		<td style="background-color: var(${difficulty_colours[i]})">
			<b>${level}</b>
			<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
		</td>
							`;
						}
					}

					for (var i = 5; i < maxLen; i++) {
						html += '<td />';
					}

					html += `
	</tr>
</tbody>
					`;
				}

				if (has_console(nc_song, pv)) {
					html += `
<thead>
	<tr>
		<th>Console Easy</th>
		<th>Console Normal</th>
		<th>Console Hard</th>
		<th>Console Extreme</th>
		<th>Console Extra Extreme</th>
					`;

					for (var i = 5; i < maxLen; i++) {
						html += '<td />';
					}

					html += `
	</tr>
</thead>
<tbody>
	<tr class="table-dark">
					`;
					for (var i = 0; i < 5; i++) {
						let level = get_console_level(nc_song, pv, i);
						if (level == null) {
							html += '<td />';
						} else {
							html += `
		<td style="background-color: var(${difficulty_colours[i]})">
			<b>${level}</b>
			<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
		</td>
							`;
						}
					}

					for (var i = 5; i < maxLen; i++) {
						html += '<td />';
					}

					html += `
	</tr>
</tbody>
					`;
				}

				if (has_mixed(nc_song, pv)) {
					html += `
<thead>
	<tr>
		<th>Mixed Easy</th>
		<th>Mixed Normal</th>
		<th>Mixed Hard</th>
		<th>Mixed Extreme</th>
		<th>Mixed Extra Extreme</th>
					`;

					for (var i = 5; i < maxLen; i++) {
						html += '<td />';
					}

					html += `
	</tr>
</thead>
<tbody>
	<tr class="table-dark">
					`;
					for (var i = 0; i < 5; i++) {
						let level = get_mixed_level(nc_song, pv, i);
						if (level == null) {
							html += '<td />';
						} else {
							html += `
		<td style="background-color: var(${difficulty_colours[i]})">
			<b>${level}</b>
			<span class="material-symbols-outlined" style="font-size: 0.8rem">star</span>
		</td>
							`;
						}
					}

					for (var i = 5; i < maxLen; i++) {
						html += '<td />';
					}

					html += `
	</tr>
</tbody>
					`;
				}
			}
		}

		table.innerHTML = html;
		card.appendChild(table);
		collapsing.appendChild(card);
		collapsingTd.appendChild(collapsing);
		collapsingTr.appendChild(collapsingTd);

		document.getElementById("pvs").append(collapsingTr);
	}

	async function search(query, offset) {
		var params = new URLSearchParams();
		if (query != null) params.append("query", query);
		if (offset != null) params.append("offset", offset);
		params.append("limit", "20");
		var options = {
			method: 'GET',
		}

		return await fetch("/api/v1/ids/pvs?" + params.toString(), options).then(res => res.json());
	}

	async function loadMore(clear) {
		document.getElementById("loadMore").hidden = true;

		var pvs = await search(document.getElementById("searchQuery").value, clear ? 0 : document.getElementById("pvs").children.length);
		if (clear) {
			document.getElementById("pvs").innerHTML = "";
		}
		for (var pv of pvs.pvs) {
			getPvHtml(pv, pvs.nc_songs, pvs.posts);
		}

		if (pvs.pvs.length == 20) {
			document.getElementById("loadMore").hidden = false;
		}
	}
</script>
<div class="fixed-top container floating-search">
	<div class="row col-6 offset-3" style="padding-top: 0.66rem">
		<input onchange="loadMore(true)" class="form-control list-text" type="text" placeholder="Search" name="query" id="searchQuery" autocomplete="off">
	</div>
</div>
<br><br>
<div class="row m-2">
	<div class="col-6 offset-3">
		<a class="btn btn-primary" style="width: 100%" href="/pv_spreadsheet">View All</a>
	</div>
</div>
<br>
{% call pv_helpers::draw_pv_list(pvs, true) %}
<br>
<button class="btn btn-primary" style="width: 100%" type="button" id="loadMore" onClick="loadMore(false)" {% if pvs.pvs.len() < 20 %}hidden{% endif %}>Load more</button>
{% endblock content %}
