{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% endblock head %}

{% block content %}
<script>
	var reservation_type = 'Song';
	var current_max = {{ remaining_song_reservations }};

	function update_dropdown(type) {
		reservation_type = type;

		var reservation_count = document.getElementById('reservation_count');
		var guide_type = document.getElementById('guide_type');
		var upload_total = document.getElementById('upload_total');
		var existing_reservations = document.getElementById('existing_reservations');

		if (type == 'Song') {
			reservation_count.innerText = '{{ remaining_song_reservations }} Song IDs';
			guide_type.innerText = 'Songs';
			upload_total.innerText = '{{ uploaded_songs }} Songs';
			existing_reservations.innerText = '{{ existing_song_reservations}} Song IDs';

			current_max = {{ remaining_song_reservations }};
		} else if (type == 'Module') {
			reservation_count.innerText = '{{ remaining_module_reservations }} Module IDs';
			guide_type.innerText = 'Modules';
			upload_total.innerText = '{{ uploaded_modules }} Modules';
			existing_reservations.innerText = '{{ existing_module_reservations}} Module IDs';

			current_max = {{ remaining_module_reservations }};
		} else if (type == 'CstmItem') {
			reservation_count.innerText = '{{ remaining_cstm_item_reservations }} Customize Item IDs';
			guide_type.innerText = 'Customize Items';
			upload_total.innerText = '{{ uploaded_cstm_items }} Customize Items';
			existing_reservations.innerText = '{{ existing_cstm_item_reservations}} Customize Item IDs';

			current_max = {{ remaining_cstm_item_reservations }};
		}

		var start = document.getElementById('start_input');
		var length = document.getElementById('length_input');
		start.value = undefined;
		length.value = undefined;

		var length_div = document.getElementById('length_div');
		var length_feedback = document.getElementById('length_feedback');

		length.classList = 'form-control';
		length_div.classList = '';
		length_feedback.hidden = true;

		var submit = document.getElementById('submit_reservation_button');
		var start_div = document.getElementById('start_div');
		var start_feedback = document.getElementById('start_feedback');
		
		start.classList = 'form-control'
		start_div.classList = '';
		start_feedback.hidden = true;
		submit.hidden = true;
	}

	async function get_recommendation() {
		var length = document.getElementById('length_input');
		var length_div = document.getElementById('length_div');
		var length_feedback = document.getElementById('length_feedback');

		var start = document.getElementById('start_input');
		var start_div = document.getElementById('start_div');
		var start_feedback = document.getElementById('start_feedback');

		if (length.value == undefined || length.value <= 0 || isNaN(length.value)) {
			length.classList = 'form-control is-invalid';
			length_div.classList = 'has-danger';

			length_feedback.hidden = false;
			length_feedback.classList = 'invalid-feedback';
			length_feedback.innerText = 'Must enter length first';
			return;
		}

		var options = {
			method: 'GET',
			headers: {
				'Authorization': 'Bearer {{ base.jwt.as_ref().unwrap() }}'
			}
		}

		var query = {
			'reservation_type': reservation_type,
			'start': 0,
			'length': Number(length.value),
		};

		var start_id = await fetch('/api/v1/reserve/find?' + new URLSearchParams(query).toString(), options).then(response => response.json());
		if (start_id != -1) {
			start.value = start_id;
		} else {
			start_id = undefined;
			return;
		}

		var submit = document.getElementById('submit_reservation_button');
		submit.hidden = false;

		start.classList = 'form-control is-valid';
		start_div.classList = '';
		start_feedback.hidden = true;
	}

	async function check_length_valid() {
		var length = document.getElementById('length_input');
		var length_div = document.getElementById('length_div');
		var length_feedback = document.getElementById('length_feedback');

		if (length.value == undefined || length.value <= 0 || isNaN(length.value)) {
			length.classList = 'form-control';
			length_div.classList = '';
			length_feedback.hidden = false;
			length_feedback.innerText = 'Too long for current max, if you require more than you can currently reserve please contact an admin';
		} else if (length.value > current_max) {
			length.classList = 'form-control is-invalid';
			length_div.classList = 'has-danger';
			length_feedback.hidden = false;
			length_feedback.innerText = 'Too long for current max, if you require more than you can currently reserve please contact an admin';
		} else {
			length.classList = 'form-control is-valid';
			length_div.classList = '';
			length_feedback.hidden = true;
		}

		await check_id_valid();
	}

	async function check_id_valid() {
		var start = document.getElementById('start_input');
		var length = document.getElementById('length_input');
		var submit = document.getElementById('submit_reservation_button');
		var start_div = document.getElementById('start_div');
		var start_feedback = document.getElementById('start_feedback');

		if (start.value == undefined || start.value <= 0 || isNaN(start.value) || length.value == undefined || length.value <= 0 || isNaN(length.value)) {
			start.classList = 'form-control'
			start_div.classList = '';
			start_feedback.hidden = true;
			submit.hidden = true;
			return;
		}

		var options = {
			method: 'GET',
			headers: {
				'Authorization': 'Bearer {{ base.jwt.as_ref().unwrap() }}'
			}
		}

		var query = {
			'reservation_type': reservation_type,
			'start': Number(start.value),
			'length': Number(length.value),
		};

		submit.hidden = true;
		var response = await fetch('/api/v1/reserve/check?' + new URLSearchParams(query).toString(), options).then(response => response.json());
		if (response == 'ValidRange') {
			start.classList = 'form-control is-valid';
			start_div.classList = '';
			start_feedback.hidden = true;
			submit.hidden = false;
		} else if (response.PartialValidRange != undefined) {
			start.classList = 'form-control is-valid';
			start_div.classList = 'has-success';

			start_feedback.hidden = false;
			start_feedback.classList = 'valid-feedback';
			start_feedback.innerText = 'Valid reservation, contains already taken IDs by you: ' + response.PartialValidRange;

			submit.hidden = false;
		} else if (response == 'InvalidRange') {
			start.classList = 'form-control is-invalid';
			start_div.classList = 'has-danger';

			start_feedback.hidden = false;
			start_feedback.classList = 'invalid-feedback';
			start_feedback.innerText = 'Invalid reservation, contains already taken IDs';

			submit.hidden = true;
		} else if (response.InvalidLength != undefined) {
			start.classList = 'form-control is-valid';
			start_div.classList = '';
			start_feedback.hidden = true;
			submit.hidden = true;
		} else if (response.InvalidAlignment != undefined) {
			start.classList = 'form-control is-invalid';
			start_div.classList = 'has-danger';

			start_feedback.hidden = false;
			start_feedback.classList = 'invalid-feedback';
			start_feedback.innerText = 'Invalid reservation, must be aligned to multiple of ' + response.InvalidAlignment;

			submit.hidden = true;
		}

		if (length.value > current_max) {
			submit.hidden = true;
		}
	}

	async function submit_reservation() {
		var start = document.getElementById('start_input');
		var length = document.getElementById('length_input');

		var length_div = document.getElementById('length_div');
		var length_feedback = document.getElementById('length_feedback');

		var submit = document.getElementById('submit_reservation_button');
		var start_div = document.getElementById('start_div');
		var start_feedback = document.getElementById('start_feedback');

		if (start.value == undefined || start.value <= 0 || isNaN(start.value) || length.value == undefined || length.value <= 0 || isNaN(length.value)) {
			submit.hidden = true;
			return;
		}

		var query = {
			'reservation_type': reservation_type,
			'start': Number(start.value),
			'length': Number(length.value),
		};

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ base.jwt.as_ref().unwrap() }}'
			},
			body: JSON.stringify(query),
		}

		var response = await fetch('/api/v1/reserve', options).then(response => response.json());

		if (response == 'ValidRange' || response.PartialValidRange != undefined) {
			window.location.href = '/reservations/{{ base.user.as_ref().unwrap().id }}';
		} else if (response == 'InvalidRange') {
			start.classList = 'form-control is-invalid';
			start_div.classList = 'has-danger';

			start_feedback.hidden = false;
			start_feedback.classList = 'invalid-feedback';
			start_feedback.innerText = 'Invalid reservation, contains already taken IDs';

			submit.hidden = true;
		} else if (response.InvalidLength != undefined) {
			start.classList = 'form-control is-valid';
			start_div.classList = '';
			start_feedback.hidden = true;
			submit.hidden = true;
		} else if (response.InvalidAlignment != undefined) {
			start.classList = 'form-control is-invalid';
			start_div.classList = 'has-danger';

			start_feedback.hidden = false;
			start_feedback.classList = 'invalid-feedback';
			start_feedback.innerText = 'Invalid reservation, must be aligned to multiple of ' + response.InvalidAlignment;

			submit.hidden = true;
		} else if (length.value > current_max) {
			length.classList = 'form-control is-invalid';
			length_div.classList = 'has-danger';
			length_feedback.hidden = false;
			length_feedback.innerText = 'Too long for current max, if you require more than you can currently reserve please contact an admin';

			submit.hidden = true;
		}
	}
</script>
<div class="card card-body">
	<!-- Currently only accepting song reservations
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
			Change reservation type
		</button>
		<ul class="dropdown-menu">
			<li><button class="dropdown-item" onclick="update_dropdown('Song')">Songs</button></li>
			<li><button class="dropdown-item" onclick="update_dropdown('Module')">Modules</button></li>
			<li><button class="dropdown-item" onclick="update_dropdown('CstmItem')">Customize Items</button></li>
		</ul>
	</div>
	-->

	<p>You can reserve up to <b id="reservation_count">{{ remaining_song_reservations }} Song IDs</b>.</p>
	<p>You have currently uploaded <b id="upload_total">{{ uploaded_songs }} Songs</b> and reserved <b id="existing_reservations">{{ existing_song_reservations }} Song IDs</b>.</p>
	<p>You get access to more reservations as you upload mods, equal to 50 plus half of your total uploaded <b id="guide_type">Songs</b> rounded up to 10</p>

	<div id="length_div" class="mt-3 mb-1">
		<label class="form-label mt-2" for="length_input">Amount of IDs to reserve</label>
		<input type="number" value="" class="form-control" id="length_input" onchange="check_length_valid()">
		<div class="invalid-feedback" id="length_feedback" hidden>Too long for current max, if you require more than you can currently reserve please contact an admin</div>
	</div>
	<div id="start_div" class="mt-1 mb-1">
		<label class="form-label mt-2" for="start_input">First ID to reserve</label>
		<input type="number" value="" class="form-control" id="start_input" onchange="check_id_valid()">
		<div class="invalid-feedback" id="start_feedback" hidden></div>
	</div>
	<button class="mt-2 btn btn-success" type="button" id="get_recommendation_button" onclick="get_recommendation()">Get first free IDs for length</button>
	<button class="mt-2 btn btn-primary" type="button" id="submit_reservation_button" onclick="submit_reservation()" hidden>Submit</button>
</div>
{% endblock content %}
