{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
{% if let Some(jwt) = base.jwt %}
{% call base::draw_embed("Upload", "") %}
<script src="https://cdn.jsdelivr.net/npm/marked@15.0.6/lib/marked.umd.min.js" async></script>

<script>
	function descriptionUpdate() {
		if (document.getElementById('btnEdit').checked) {
			document.getElementById('text').hidden = false;
			document.getElementById('descriptionPreview').hidden = true;
		} else {
			document.getElementById('text').hidden = true;
			document.getElementById('descriptionPreview').hidden = false;
			document.getElementById('descriptionPreview').innerHTML = marked.parse(document.getElementById('text').value);
		}
	}

	let imageFiles = [];

	function appendImages() {
		for (var file of document.getElementById('imageFilePicker').files) {
			appendImage(file);
		}
	}
	
	function appendImage(file) {
		if (!file.type.startsWith('image')) {
			return;
		}
		imageFiles.push(file);

		let imgId = document.getElementById('images').children.length - 1;
		let img = document.createElement('img');
		img.classList = 'rounded-image w-100';
		img.loading = 'lazy';
		img.alt = 'Preview';
		img.draggable = true;
		img.style.cursor = 'move';
		img.id = 'image' + imgId;
		img.ondragstart = (event) => { dragStart(event); };
		img.ondragenter = (event) => { dragEnter(event); };
		img.ondragleave = (event) => { dragLeave(event); };
		img.ondragend = (event) => { dragEnd(event); };
		img.ondragover = (event) => { event.preventDefault(); };
		img.ondrop = (event) => { dropSwapImage(event); };

		let fileReader = new FileReader();
		fileReader.onload = () => { img.src = fileReader.result; };
		fileReader.readAsDataURL(file);

		let cardImg = document.createElement('div');
		cardImg.classList = 'card-img-top ratio ratio-16x9 bg-clear border-none';
		cardImg.appendChild(img);

		let deleteButton = document.createElement('button');
		deleteButton.classList = 'w-100 btn btn-sm btn-danger';
		deleteButton.onclick = () => { deleteImage(imgId); };
		deleteButton.innerText = 'Remove';

		let cardBody = document.createElement('div')
		cardBody.classList = 'card-body p-0';
		cardBody.appendChild(deleteButton);

		let card = document.createElement('div');
		card.classList = 'card shadow';
		card.appendChild(cardImg);
		card.appendChild(cardBody);

		let column = document.createElement('div');
		column.classList = 'col';
		column.appendChild(card);

		document.getElementById('images').insertBefore(column, document.getElementById('images').children[imgId]);
	}

	function deleteImage(index) {
		if (document.getElementById('images').children.length == 1) {
			createToast('Cannot remove last image', 'text-bg-danger');
			return;
		}
		imageFiles.splice(index, 1);

		document.getElementById('images').children[index].remove();
		if (document.getElementById('images').children.length - 1 == 1) {
			document.getElementById('images').children[0].children[0].children[1].remove();
			return;
		}

		for (var i = 0; i < document.getElementById('images').children.length - 1; i++) {
			document.getElementById('images').children[i].children[0].children[1].innerHTML = `<button class="w-100 btn btn-danger" onclick="deleteImage(${i})">Remove</button>`;
		}
	}
	
	async function uploadImage(file) {
		let options = {
			method: 'GET',
			headers: {
				'Content-Type': 'text/plain',
				'Authorization': 'Bearer {{ jwt }}'
			},
		};
		let res = await fetch('/api/v1/posts/upload_image', options);
		if (!res.ok) {
			createToast('Failed to upload image: ' + file.name, 'text-bg-danger');
			return null;
		}

		let image_upload_url = await res.text();
		if (image_upload_url == null || image_upload_url == '') {
			createToast('Failed to upload image: ' + file.name, 'text-bg-danger');
			return null;
		}

		let image_form = new FormData();
		image_form.append('file', file);
		options = {
			method: 'POST',
			headers: {
				'Accept': '*/*'
			},
			body: image_form
		};
		res = await fetch(image_upload_url, options);
		if (!res.ok) {
			createToast('Failed to upload image: ' + file.name, 'text-bg-danger');
			return null;
		}

		let result = await res.json();
		if (result.result == null) {
			createToast('Failed to upload image: ' + file.name + ' ' + result.errors[0].message, 'text-bg-danger');
			return null;
		}
		let image_url = result.result.variants[0].replace('/thumbnail', '/public').replace('https://imagedelivery.net/', 'https://divamodarchive.com/cdn-cgi/imagedelivery/');
		if (image_url == null) {
			createToast('Failed to upload image: ' + file.name, 'text-bg-danger');
			return null;
		}
		return image_url
	}

	function dragStart(e) {
		e.target.style.opacity = 0.5;

		e.dataTransfer.dropEffect = 'move';
		e.dataTransfer.setData('text/plain', e.target.id);
	}

	function dragEnter(e) {
		let data = e.dataTransfer.getData('text/plain');
		if (data == undefined || data == '' || data == e.target.id || document.getElementById(data) == undefined) {
			return;
		}
		e.target.style.border = '0.33rem dotted';
	}

	function dragLeave(e) {
		e.target.style.border = '';
	}

	function dragEnd(e) {
		e.target.style.opacity = 1.0;
	}

	function dropSwapImage(e) {
		let data = e.dataTransfer.getData('text/plain');
		if (data == undefined || data == '' || data == e.target.id || document.getElementById(data) == undefined) {
			return;
		}

		e.preventDefault();
		e.target.style.border = '';

		document.getElementById(data).style.opacity = 1.0;

		let original_src = document.getElementById(data).src;
		document.getElementById(data).src = document.getElementById(e.target.id).src;
		document.getElementById(e.target.id).src = original_src;
	}

	function imageDropperEnter(e) {
		e.stopPropagation();
		if (!e.dataTransfer.types.includes('Files')) {
			return;
		}
		document.getElementById('imageFileDropper').style.border = '0.33rem dotted';
	}

	function imageDropperLeave(e) {
		if (e.target == document.getElementById('imageFileDropper') && e.relatedTarget != document.getElementById('imageFileDropper').children[0]) {
			document.getElementById('imageFileDropper').style.border = '';
		}
	}

	function dropappendImages(e) {
		if (e.dataTransfer.files == undefined || e.dataTransfer.files.len == 0) {
			return;
		}
		e.preventDefault();
		document.getElementById('imageFileDropper').style.border = '';
		for (var file of e.dataTransfer.files) {
			if (!file.type.startsWith('image')) {
				createToast('Can only select images', 'text-bg-warning');
				return;
			}
		}
		document.getElementById('imageFilePicker').files = e.dataTransfer.files;
		appendImages();
	}
	
	let post = null;

	async function createPost() {
		let name = document.getElementById('title').value;
		let text = document.getElementById('text').value;
		let post_type = document.getElementById('type_tag').value;
		
		if (name == '' || text == '' || post_type == '' || post_type == 'null' || imageFiles.length == 0) {
			createToast('Must set all values before uploading', 'text-bg-warning');
			return null;
		}

		let images = [];
		for (var file of imageFiles) {
			let imageUrl = await uploadImage(file);
			if (imageUrl != null) {
				images.push(imageUrl);
			}
		}

		if (images.length == 0) {
			createToast('Must select at least 1 valid image before uploading', 'text-bg-warning');
			return null;
		}

		let options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: JSON.stringify({
				'name': name,
				'text': text,
				'post_type': Number(post_type),
				'images': images,
			}),
		};
		let res = await fetch('/api/v1/posts', options);
		if (!res.ok) {
			createToast('Failed to creat post: ' + res.status, 'text-bg-danger');
			return null;
		}
		return await res.json();
	}

	async function start_upload() {
		let files = document.getElementById('filePicker').files;
		if (files.length == 0) {
			createToast('Must select files before upload', 'text-bg-warning');
			return;
		}
		if (post == null) {
			post = await createPost();
			if (post == null) {
				return;
			}
		}
		document.getElementById('uploadButton').disabled = true;

		let filenames = [];
		let filelengths = [];
		for (var file of files) {
			filenames.push(file.name);
			filelengths.push(file.size);
		}
		let options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ jwt }}'
			},
			body: JSON.stringify({
				'post': post.id,
				'files': filenames,
				'lengths': filelengths,
			}),
		};
		let res = await fetch('/api/v1/posts/start_upload', options);
		if (!res.ok) {
			createToast('Failed to start upload ' + res.status, 'text-bg-danger');
			document.getElementById('uploadButton').disabled = false;
			return;
		}

		for (var i = 0; i < filenames.length; i++) {
			let label = document.createElement('p');
			label.classList = 'col-6 p-0 mb-1';
			label.innerText = filenames[i];
			document.getElementById('progressBars').appendChild(label);

			let bar = document.createElement('div');
			bar.classList = 'col-6 p-0 progress mb-1';
			bar.style = '--bs-progress-height: 1.5rem';

			let innerBar = document.createElement('div');
			innerBar.id = 'progressBar' + i;
			innerBar.classList = 'progress-bar bg-success';
			innerBar.role = 'progressbar';
			innerBar.style.width = '0%';

			bar.appendChild(innerBar);
			document.getElementById('progressBars').appendChild(bar);
		}

		upload_loop();
	}

	async function upload_loop() {
		let files = new Map();
		for (var file of document.getElementById('filePicker').files) {
			files.set(file.name, file);
		}

		let success = false;
		let socket = new WebSocket('/api/v1/posts/continue_upload');

		socket.addEventListener('open', (e) => {
			socket.send('{{ jwt }}');
		});

		socket.addEventListener('message', async (e) => {
			let message = JSON.parse(event.data);
			if (message.error != undefined) {
				createToast(message.error, 'text-bg-danger');
				socket.close();
			} else if (message.success != undefined) {
				success = true;
				socket.close();
			} else if (message.file != undefined && message.offset != undefined) {
				let filepicker = document.getElementById('filePicker').files;
				for (var i = 0; i < filepicker.length; i++) {
					if (filepicker[i].name == message.file) {
						document.getElementById('progressBar' + i).style.width = (message.offset + (1024 * 1024 * 8)) / filepicker[i].size * 100 + '%';
						break;
					}
				}

				let data = await files.get(message.file).slice(message.offset, message.offset + (1024 * 1024 * 8)).arrayBuffer();
				socket.send(data);
			} else {
				createToast('Could not parse message from server ' + event.data, 'text-bg-danger');
				socket.close();
			}
		});

		socket.addEventListener('close', async (e) => {
			if (success) {
				document.getElementById('progressBars').innerHTML = '';
				createToast('Successfully uploaded all files', 'text-bg-success');
				await new Promise(r => setTimeout(r, 5000));
				window.location.href = '/post/' + post.id + '/edit';
			} else {
				await new Promise(r => setTimeout(r, 5000));
				upload_loop();
			}
		});
	}
</script>
{% endif %}
{% endblock head %}

{% block content %}
{% if let Some(user) = base.user %}
<div class="row align-items-md-stretch gap-3 m-1">
	<div class="alert alert-warning mb-0">
		<button class="accordion accordion-button p-1 collapsed" style="color: unset; background-color: unset; box-shadow: unset" type="button" data-bs-toggle="collapse" data-bs-target="#rules">
			<h5 class="mb-0">Please make sure you are familiar with the rules</h5>
		</button>
		<div id="rules" class="p-1 collapse" data-bs-parent="#accordionRules">
			<p>The following content cannot be posted, however any content may be modified or deleted at the discretion of the admins</p>
			<ul class="mb-0">
				<li>Any kind of speech designed to cause hatred or conflict</li>
				<li>A mod for a game other than Project DIVA Mega Mix+</li>
				<li>Pornographic or erotic content in excess of what the games already contain</li>
				<li>A mod with a plugin that does not contain or link the source code</li>
				<li>Mods or references to mods that require payment to use, references to commissions are allowed are however</li>
				<li>Modifications of other peoples content, including SEGAs, that does not mention the original content or how it was modified</li>
				<li>Broken or non-functional mods</li>
			</ul>
		</div>
	</div>

	<div class="card card-body">
		<h2 class="card-text text mb-2"><input class="w-100" type="text" id="title" name="title" autocomplete="off" placeholder="Title"></h2>

		<div class="card-text mb-2">
			<h5>Descriptions are formatted using markdown, <a href="https://www.markdownguide.org/basic-syntax/">Here</a> is a guide that teaches you how to use it.</h5>
			<div class="btn-group w-100" role="group">
				<input type="radio" class="btn-check" id="btnEdit" name="description" autocomplete="off" checked="" onchange="descriptionUpdate()">
				<label class="btn btn-outline-primary" for="btnEdit">Edit</label>
				<input type="radio" class="btn-check" id="btnPreview" name="description" autocomplete="off" onchange="descriptionUpdate()">
				<label class="btn btn-outline-primary" for="btnPreview">Preview</label>
			</div>
			<br>
			<textarea class="form-control" id="text" rows="10" placeholder="Description"></textarea>
			<div class="text" hidden="" id="descriptionPreview"></div>
		</div>

		<select class="form-select list-text mb-1" id="type_tag">
			<option value="null" selected disabled hidden>Mod Type</option>
			<option value="0">Plugin</option>
			<option value="1">Module</option>
			<option value="2">Song</option>
			<option value="3">Cover</option>
			<option value="4">UI</option>
			<option value="5">Other</option>
		</select>
	</div>

	<div class="card card-body">
		<h4 class="text">You can drag and drop images to rearrange them</h4>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3" id=images>
			<div class="col">
				<button
					onclick="document.getElementById('imageFilePicker').click()"
					class="h-100 w-100 btn btn-secondary"
					style="display: flex; align-items: center; text-align: center"
					id="imageFileDropper"
					ondragenter="imageDropperEnter(event)"
					ondragleave="imageDropperLeave(event)"
					ondragover="event.preventDefault()"
					ondrop="dropappendImages(event)"
				>
					<span class="material-symbols-outlined w-100" style="font-size: 5rem">add</span>
				</button>
				<input id="imageFilePicker" accept="image/jpeg,image/png,image/webp" type="file" multiple style="display: none" onchange="appendImages()">
			</div>
		</div>
	</div>

	<div class="card card-body">
		<div class="mb-2 mx-1">
			<input class="form-control" accept=".7z,.zip,.rar" type="file" id="filePicker" multiple>
		</div>
		<button class="btn btn-success mb-2 mx-1" type="button" onclick="start_upload()" id="uploadButton">Start upload</button>
		<div class="row mx-1" id="progressBars"></div>
	</div>
</div>
{% endif %}
{% endblock content %}
