{% extends "base.html" %}
{% import "base.html" as base %}
{% import "post_helpers.html" as post_helpers %}

{% block head %}
{% let owner_name = owner.display_name.as_str() %}
{% let description = format!("{owner_name}'s reservations") %}
{% call base::draw_embed(owner.display_name, description) %}
{% endblock head %}

{% block content %}

{% let is_owner -%}
{% if let Some(user) = base.user -%}
	{% if user.id == owner.id -%}
		{% let is_owner = true -%}
	{% else -%}
		{% let is_owner = false -%}
	{% endif -%}
{% else -%}
	{% let is_owner = false %}
{% endif -%}

{% if is_owner %}
<script>
	async function delete_reservation(type, id) {
		var query = {
			'reservation_type': type,
			'start': id,
			'length': 1,
		};

		var options = {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ base.jwt.as_ref().unwrap() }}'
			},
			body: JSON.stringify(query),
		}

		await fetch('/api/v1/reserve', options);
		document.getElementById(type + id).hidden = true;
	}

	async function label_reservation(type, id) {
		var query = {
			'reservation_type': type,
			'label': document.getElementById(type + id + 'Label').value,
		};

		var options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer {{ base.jwt.as_ref().unwrap() }}'
			},
			body: JSON.stringify(query),
		}

		await fetch('/api/v1/reservations/' + id  + '/label', options);
		document.getElementById(type + id + 'Label').parentElement.innerHTML = document.getElementById(type + id + 'Label').value;
	}
</script>
{% endif %}

{% if song_reservations.len() > 0 %}
<h1 class="text">Songs</h1>
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Label</th>
			<th>Time</th>
			{% if is_owner %}
			<th />
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% for (id, reservation) in song_reservations %}
		<tr id="Song{{id}}">
			<td>{{ id }}</td>
			{% if is_owner %}
				<td>
					{% if let Some(label) = reservation.label %}
						<input class="w-50" type="text" id="Song{{ id }}Label" autocomplete="off" value="{{ label }}">
					{% else %}
						<input class="w-50" type="text" id="Song{{ id }}Label" autocomplete="off">
					{% endif %}
					<button id="" class="btn btn-primary btn-sm" type="button" onclick="label_reservation('Song', {{ id }})">Update</button>
				</td>
			{% else if let Some(label) = reservation.label %}
				<td>{{ label | autolink }}</td>
			{% else %}
				<td />
			{% endif %}
			<td>{{ reservation.time.date() }}</td>
			{% if is_owner %}
			<td><button class="btn btn-danger btn-sm" type="button" onclick="delete_reservation('Song', {{ id }})">Delete</button></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% if module_reservations.len() > 0 %}
<h1 class="text">Modules</h1>
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Label</th>
			<th>Time</th>
			{% if is_owner %}
			<th />
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% for (id, reservation) in module_reservations %}
		<tr id="Module{{id}}">
			<td>{{ id }}</td>
			{% if is_owner %}
				<td>
					{% if let Some(label) = reservation.label %}
						<input class="w-50" type="text" id="Module{{ id }}Label" autocomplete="off" value="{{ label }}">
					{% else %}
						<input class="w-50" type="text" id="Module{{ id }}Label" autocomplete="off">
					{% endif %}
					<button id="" class="btn btn-primary btn-sm" type="button" onclick="label_reservation('Module', {{ id }})">Update</button>
				</td>
			{% else if let Some(label) = reservation.label %}
				<td>{{ label | autolink }}</td>
			{% else %}
				<td />
			{% endif %}
			<td>{{ reservation.time.date() }}</td>
			{% if is_owner %}
			<td><button class="btn btn-danger btn-sm" type="button" onclick="delete_reservation('Module', {{ id }})">Delete</button></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% if cstm_item_reservations.len() > 0 %}
<h1 class="text">Customize Items</h1>
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Label</th>
			<th>Time</th>
			{% if is_owner %}
			<th />
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% for (id, reservation) in cstm_item_reservations %}
		<tr id="CstmItem{{id}}">
			<td>{{ id }}</td>
			{% if is_owner %}
				<td>
					{% if let Some(label) = reservation.label %}
						<input class="w-50" type="text" id="CstmItem{{ id }}Label" autocomplete="off" value="{{ label }}">
					{% else %}
						<input class="w-50" type="text" id="CstmItem{{ id }}Label" autocomplete="off">
					{% endif %}
					<button id="" class="btn btn-primary btn-sm" type="button" onclick="label_reservation('CstmItem', {{ id }})">Update</button>
				</td>
			{% else if let Some(label) = reservation.label %}
				<td>{{ label | autolink }}</td>
			{% else %}
				<td />
			{% endif %}
			<td>{{ reservation.time.date() }}</td>
			{% if is_owner %}
			<td><button class="btn btn-danger btn-sm" type="button" onclick="delete_reservation('CstmItem', {{ id }})">Delete</button></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% for (chara, reservations) in cos_reservations %}
{% if reservations.len() > 0 %}
<h1 class="text">{{ chara.to_string() }} Costumes</h1>
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Label</th>
			<th>Time</th>
			{% if is_owner %}
			<th />
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% for (id, reservation) in reservations %}
		<tr id="Cos{{ chara.to_string() }}{{id}}">
			<td>{{ id }}</td>
			{% if is_owner %}
				<td>
					{% if let Some(label) = reservation.label %}
						<input class="w-50" type="text" id="Cos{{ chara.to_string() }}{{ id }}Label" autocomplete="off" value="{{ label }}">
					{% else %}
						<input class="w-50" type="text" id="Cos{{ chara.to_string() }}{{ id }}Label" autocomplete="off">
					{% endif %}
					<button id="" class="btn btn-primary btn-sm" type="button" onclick="label_reservation('Cos{{ chara.to_string() }}', {{ id }})">Update</button>
				</td>
			{% else if let Some(label) = reservation.label %}
				<td>{{ label | autolink }}</td>
			{% else %}
				<td />
			{% endif %}
			<td>{{ reservation.time.date() }}</td>
			{% if is_owner %}
			<td><button class="btn btn-danger btn-sm" type="button" onclick="delete_reservation('Cos{{ chara.to_string() }}', {{ id }})">Delete</button></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endfor %}
{% endblock content %}
